
{% trans_default_domain 'FOSUserBundle' %}


<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     {#<script src="http://radio-virtuelle.fr/Caranille/Design/js/bootstrap.min.js"></script>
     <script src="http://radio-virtuelle.fr/Caranille/Design/js/jquery.js"></script>#}
  {#  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <link rel="icon" type="image/x-icon" href="{{ asset('Logo-econtact-2.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" />


</head>
<style>
    .alert-success {
        display: none;
    }
    @media (min-width: 768px)
    {
        .col-sm-3 {
            width: 33%;
        }
    }

    @media (min-width: 992px)
    {
        .col-md-3 {
            width: 25%!important;
        }
    }

    .col-xs-3 {
        width: 33%;
    }

    @media (max-width: 768px){
        .navbar-collapse.collapse {
            display: block!important;
            height: auto!important;
            padding-bottom: 0;
            overflow: visible!important;
        }
    }

</style>


<div class="container-fluid" id="fond-1" style="min-width: 900px; margin: 0 auto;">
    <section id="fond-1">
        <img class="logo" src="https://image.noelshack.com/fichiers/2018/07/4/1518687555-logo-econtact-2.png" alt="logo">


        <nav class="navbar navbar-expand-lg navbar-light bg-light" >
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: right">
                {% if is_granted('ROLE_ADMIN') and app.user.id != '66' %}
                    <ul class="navbar-nav ">
                        <di class=" mr-auto">
                            <a class="nav-link dropdown-toggle btn suivant " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50px">
                                <span class="glyphicon glyphicon glyphicon-user" style="font-size:  20px"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" {#align="right"#}>
                                &nbsp;<a href="{{ path('fos_user_change_password') }}" role="button" {#class="btn1 "#} style="color: #4a4646">
                                    <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Changer PWD
                                </a>
                                <hr>
                                &nbsp;<a href="{{ path('fos_user_security_logout') }}" role="button" {#class="btn1 "#}style="color: #4a4646">
                                    <span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Déconnexion
                                </a>
                            </div>
                        </di>
                        <a href="{{ path('acceuil') }}" role="button" class="btn1 " >
                            Back Office
                        </a>
                        <a href="{{ path('Email') }}" role="button" class="btn1 " >
                            Mes DEVIS
                        </a>
                    </ul>

                {% elseif app.user.id == '66' %}
                    <ul class="navbar-nav ">
                        <div class=" mr-auto">
                            <a class="nav-link dropdown-toggle btn suivant " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50px">
                                <span class="glyphicon glyphicon glyphicon-user" style="font-size:  20px"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" {#align="right"#} style="margin-left: 82px;">
                                &nbsp;<a href="{{ path('fos_user_change_password') }}" role="button" {#class="btn1 "#} style="color: #4a4646">
                                    <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Changer PWD
                                </a>
                                <hr>
                                &nbsp;<a href="{{ path('fos_user_security_logout') }}" role="button" {#class="btn1 "#}style="color: #4a4646">
                                    <span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Déconnexion
                                </a>
                            </div>
                        </div>
                        <a href="{{ path('acceuil') }}" role="button" class="btn1 " >
                            Back Office
                        </a>
                        <a href="{{ path('Email') }}" role="button" class="btn1 " style="display: none" >
                            Mes DEVIS
                        </a>
                    </ul>

                {% elseif app.user.id == '77' or app.user.id == '25' or app.user.id == '32' or app.user.id == '52' or app.user.id == '9' %}
                    <ul class="navbar-nav ">
                        <di class=" mr-auto">
                            <a class="nav-link dropdown-toggle btn suivant " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50px">
                                <span class="glyphicon glyphicon glyphicon-user" style="font-size:  20px"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" {#align="right"#} style=" margin-left: 217px;">
                                &nbsp;<a href="{{ path('fos_user_change_password') }}" role="button" {#class="btn1 "#} style="color: #4a4646">
                                    <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Changer PWD
                                </a>
                                <hr>
                                &nbsp;<a href="{{ path('fos_user_security_logout') }}" role="button" {#class="btn1 "#}style="color: #4a4646">
                                    <span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Déconnexion
                                </a>
                            </div>
                        </di>
                        <a href="{{ path('Email_group') }}" role="button" class="btn1 " >
                            Mon équipe
                        </a>
                        <a href="{{ path('Email') }}" role="button" class="btn1 " >
                            Mes DEVIS
                        </a>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ">
                        <di class=" mr-auto">
                            <a class="nav-link dropdown-toggle btn suivant " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 50px">
                                <span class="glyphicon glyphicon glyphicon-user" style="font-size:  20px"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" {#align="right"#} style="margin-left: 82px;">
                                &nbsp;<a href="{{ path('fos_user_change_password') }}" role="button" {#class="btn1 "#} style="color: #4a4646">
                                    <span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Changer PWD
                                </a>
                                <hr>
                                &nbsp;<a href="{{ path('fos_user_security_logout') }}" role="button" {#class="btn1 "#}style="color: #4a4646">
                                    <span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;Déconnexion
                                </a>
                            </div>
                        </di>

                        <a href="{{ path('Email') }}" role="button" class="btn1 " >
                            Mes DEVIS
                        </a>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <div class="container" id="#content-1">


            <div class="row">

                <div class="col-md-3 col-sm-2 "></div>
                <div align=center class="header col-md-6 col-sm-8 {#col-xs-12#}">
                    <p class="text-uppercase">JE ME PRÉSENTE</p>
                </div>
                <div class="col-md-3 col-sm-2 "></div>

            </div>


            <div class="row" style="margin-top: 50px;">

                <div align=center class="col-md-3 col-md-12">
                    <div class="well" style="">
                        {% if user.path is  not null %}
                            <img class="avatar" src="{{ asset('uploads/' ~user.path) }}" alt="icone-avatar" width="130" height="130" style=" -moz-border-radius: 50px!important;-webkit-border-radius: 50px!important;border-radius: 100%!important; margin: 0 auto;margin-top: 50px;">
                        {% else %}
                            <img class="avatar" src="https://image.noelshack.com/fichiers/2018/16/1/1523885196-1518715813-icone-avatar.png" alt="icone-avatar" width="130" height="130" style=" -moz-border-radius: 50px!important;-webkit-border-radius: 50px!important;border-radius: 100%!important; margin: 0 auto;margin-top: 50px;">
                        {% endif %}
                        {# <img class="avatar" src="{{ asset('uploads/' ~user.path) }}" alt="icone-avatar" #}{#width="80" height="80"#}{# #}{#style="
                                            -moz-border-radius: 50px!important;
                                            -webkit-border-radius: 50px!important;
                                            border-radius: 100%!important; margin: 0 auto"#}{#>#}
                        <h4> <p style="text-align: center;Font-Weight: Bold;"> {{ user.nom }}</h4>
                        <p class="texte1"></b>{{ user.profil|raw }}</p>
                    </div>
                </div>
                <div align=center class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="titre">Expertise Métier</div>
                    <br>
                    <div align=center class="presentation">
                        {{ user.description|raw }}
                    </div>
                </div>


                <div align=center class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="titre">Expérience</div>
                    <br>
                    <div align=center class="presentation">
                        {#<b>{{ user.nbrAnnee }} </b> #} {{ user.experiececontenu|raw }}
                    </div>
                </div>


                <div align=center class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="titre">
                        Références Clients
                    </div>
                    <br>
                    <div align=center class="presentation">
                        <div class="row">

                            {% for en in user.client %}
                                <div class="col-md-6 col-sm-5">
                                    <img style="margin: 10px 10px 10px 10px;" src="{{ asset('http://www.telecontact.ma/pubs/logos/L'~en.cfirme~'.png') }}" width="60" height="60" >
                                </div>
                            {% endfor %}
                            {#{% for en in user.client %}
                                  <div class="col-md-6">
                                      <img style="margin: 10px 10px 10px 10px;" src="{{ asset('uploads/' ~en.path) }}" width="60" height="60" alt="logo-tijari">
                                  </div>
                              {% endfor %}#}

                        </div>
                    </div>
                </div>


            </div>
        </div>
        {#<a href="#fond-2" class="btn next"><img src="https://image.noelshack.com/fichiers/2018/13/3/1522253637-btn-suivant.png"></a>#}

    </section>


    <a href="#fond-2" role="button" class="btn suivant">
        Suivant &nbsp;   <span class="glyphicon glyphicon-triangle-right"></span>
    </a>
    <br>

    <section id="fond-2">
        <div class="container" id="#content-1">


            <div class="row">

                <div class="col-md-3 col-sm-2 "></div>
                <div align=center class="header col-md-6 col-sm-8 {#col-xs-12#}">
                    <p class="text-uppercase">telecontact.ma</p>
                </div>
                <div class="col-md-3 col-sm-2 "></div>

            </div>


            <div class="row" style="margin-top: 50px;">

                <div align=center class="col-md-3 col-md-12">
                    <div class="well" {#style="height:380px;"#}>

                        <p class="texte1"><p style="text-align: center;"> {{ user.teleconatct.titre|raw }}</p>
                        <br>
                        <br>
                        <img class="avatar" style="img-responsive;" src="https://image.noelshack.com/fichiers/2018/12/2/1521536251-pc.png">
                    </div>
                </div>


                <div align=center class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="titre">Expertise Métier</div>
                    <br>
                    <div align=center class="presentation">
                        {{ user.teleconatct.contenu|raw }}
                    </div>
                </div>


                <div align=center class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="titre">Expérience</div>
                    <br>
                    <div align=center class="presentation">
                        {#<b>{{ user.teleconatct.nbrAnnee  }}  </b>#}
                        {{ user.teleconatct.experiececontenu|raw }}
                    </div>
                </div>


                <div align=center class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="titre">
                        Références Clients
                    </div>
                    <br>
                    <div align=center class="presentation">
                        <div class="row">
                            {% for en in user.teleconatct.nosclient %}
                                <div class="col-md-6 col-sm-5">
                                    <img style="margin: 10px 10px 10px 10px;" src="{{ asset('http://www.telecontact.ma/pubs/logos/L'~en.cfirme~'.png') }}" width="60" height="60" >
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>


            </div>
        </div>
        {#<a href="#fond-2" class="btn next"><img src="https://image.noelshack.com/fichiers/2018/13/3/1522253637-btn-suivant.png"></a>#}

    </section>



    <a href="#fond-4" role="button" class="btn suivant">
        Suivant &nbsp;   <span class="glyphicon glyphicon-triangle-right"></span>
    </a>



    <section  id="fond-4">


        <div align=center class="container" id="content-4">

            <div class="row">

                <div class="col-md-12 col-sm-12 {#col-xs-12#}">
                    <h1 >TELECONTACT, AGENCE DIGITALE</h1>
                    <p>Expert en Marketing Digital & Développeur de solutions web</p>
                </div>

            </div>

        </div>

    </section>


    <section id="fond-3">

        <div class="container" id="#content-3">

            <div class="row">

                <div align=center class="col-md-12 col-sm-12" id="texte-marketing">
                    <p style="font-size: 25px; text-align: center">Le marketing digital regroupe toutes les solutions de communication innovantes à travers des canaux digitaux (ordinateur, tablette, smartphone ) pour accompagner les entreprises dans la promotion de leurs produits et services.</p>
                    {# <br>#}

                    <h2>Les piliers de la communication digitale englobent</h2>
                </div>

            </div>

            <div class="row">

                <div align=center class="col-md-4 col-sm-6 col-xs-12">
                    <div class="rectangle">
                        <p style="font-size: 22px;">Référencement</p>
                    </div>
                    <div class="rectangle">
                        <p style="font-size: 22px;">Réseaux sociaux</p>
                    </div>
                </div>

                <div align=center class="col-md-4 col-sm-6 col-xs-12">
                    <div class="rectangle">
                        <p style="font-size: 22px;">Gestion de Contenu</p>
                    </div>
                    <div class="rectangle">
                        <p style="font-size: 22px;">Google Adwords</p>
                    </div>
                </div>

                <div align=center class="col-md-4 col-sm-6 col-xs-12">
                    <div class="rectangle">
                        <p style="font-size: 22px;">Affichage</p>
                    </div>
                    <div class="rectangle">
                        <p style="font-size: 22px;">Inbound Marketing</p>
                    </div>
                </div>

            </div>

        </div>
        {#<a href="#fond-5" class="btn btn3 next" #}{#style="margin-top: 50px;"#}{#><img src="https://image.noelshack.com/fichiers/2018/13/3/1522253637-btn-suivant.png"></a><br>
        <br>#}
    </section>

    <a href="#fond-5" role="button" class="btn suivant">
        Suivant &nbsp;   <span class="glyphicon glyphicon-triangle-right"></span>
    </a>



    <section  id="fond-5">


    <div align=center class="container" id="content-4">

            <div class="row">

                <div class="col-md-12 col-sm-12 {#col-xs-12#}">
                    <h1 style="font-size: 60px;">telecontact.ma</h1>
                    <div style="height: 4px; width: 426px; background-color: #ffdb2e;"></div>
                    <br>
                    <br>
                    <p class="texte"><span style="color: #ffdb2e"><strong>+de 70 %</strong></span> du chiffre d'affaires est réalisé dans le digital</p>
                    <p class="texte"><span style="color: #ffdb2e"><strong>+2000</strong></span> entreprises nous ont déja fait confiance en 2017</p>
                    <p class="texte"><span style="color: #ffdb2e"><strong>73 870</strong></span> visites/jour et <span style="color: #ffdb2e"><strong>6,5 millions </strong></span>de pages vus/mois </p>

                    <h1 id="pourquoi">Et vous
                        <br>
                        <br> Où, en êtes vous ? ...</h1>
                </div>

            </div>

        </div>

    </section>
    <div class="vide vide5">
        {#<a href="#fond-7" class="btn btn5 next" #}{#style="margin-top: 250px"#}{#><img src="https://image.noelshack.com/fichiers/2018/13/3/1522253637-btn-suivant.png"></a><br>#}
    </div>

    <a href="#fond-7" role="button" class="btn suivant">
        Suivant &nbsp;   <span class="glyphicon glyphicon-triangle-right"></span>
    </a>


    <section  id="fond-7" align=center>


        <div  class="container" id="content-4">

            <div class="row" >

                <div class="col-md-12 col-sm-12 {#col-xs-12#} "  align=center >
                    <div class="titre">
                        <h1 class="acroche "><strong>Construisons ensemble

                                les piliers de votre <span style="color: #ffdb2e">communication digitale</span>
                            </strong></h1>
                    </div>
                </div>

            </div>

        </div>


    </section>

    <br>

    <section  id="fond-6">

        <div class="container" id="content-6">

            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="colone-1">
                        <div align=center>
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-3.png" alt="icone-3">
                        </div>
                        <div class="list-group">
                            <a class="list-group-item active titre">Référencement </a>
                            <a href="{{ path('prestation') }}"   target="_blank" class="list-group-item content">Prestations <span class="glyphicon glyphicon-zoom-in"></span></a></a>
                            <a href="{{ path('marque') }}"     target="_blank" class="list-group-item content">Marques <span class="glyphicon glyphicon-zoom-in"></span></a></a>
                            <a href="{{ path('rubrique') }}" target="_blank" class="list-group-item content">Rubriques <span class="glyphicon glyphicon-zoom-in"></span></a></a>
                            <a href="{{ path('profession') }}" target="_blank" class="list-group-item content">Profession libérale <span class="glyphicon glyphicon-zoom-in"></span></a></a>
                            <a href="{{ path('carte_visite') }}"  target="_blank" class="list-group-item content" id="jaune">Carte de visite
                                &nbsp;

                                <img src="https://image.noelshack.com/fichiers/2018/08/5/1519388845-icone-hand.png" style="float: right" alt="icone-hand">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="colone-2">
                        <div align=center>
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icona-2.png" alt="icone-3">
                        </div>
                        <div class="list-group">
                            <a class="list-group-item active titre">Gestion de Contenu</a>
                            <a href="{{ path('site_internet') }}" target="_blank" class="list-group-item content">Site internet &nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('video') }} " target="_blank" class="list-group-item content">Vidéo &nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('catalogue_ref') }}" target="_blank" class="list-group-item content">Catalogue Référencé&nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('pvi') }}" target="_blank" class="list-group-item content"> PVI&nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="colone-3">
                        <div align=center>
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-1.png" alt="icone-3">
                        </div>
                        <div class="list-group">
                            <a class="list-group-item active titre">Affichage</a>
                            <a href="{{ path('banniere') }}" target="_blank" class="list-group-item content">Bannière &nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('vignette_thematique') }}" target="_blank" class="list-group-item content">Vignette thématique &nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('vignette_localte') }}" target="_blank" class="list-group-item content">Vignette localité &nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('vignette_accueil_video') }}" target="_blank" class="list-group-item content">Vignette Accueil / Vidéo &nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('professionnels') }}" target="_blank" class="list-group-item content">Professionnels du jour &nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('espace_promo') }}" target="_blank" class="list-group-item content">Espace Promo &nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>
                            <a href="{{ path('habillage') }}" target="_blank" class="list-group-item content">Habillage &nbsp;   <span class="glyphicon glyphicon-zoom-in"></span></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section  id="fond-8" align=center>

        <div class="container" id="content-8">

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" align="center">
                    <form >
                        <div class="form-inline">
                            <div class="form-group test " >
                                <label id="from-label">Raison sociale</label> <br> <input  placeholder="raison sociale" name="rs" {% if raison['rs']  %} {{raison['rs']|capitalize }} value="{{ raison['rs'] }}" {% endif %} id="raison" class="form-control " type="text" style=" height: 37px;width: 290px"/>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="form-group test " >
                                <label id="from-label" >Code Firme </label> <br><input id="firme"  placeholder="code firme" name="cfirme" {% if raison['cfirme']  %} {{raison['cfirme']|capitalize }} value="{{ raison['cfirme'] }}" {% endif %}class="form-control " type="text" style=" height: 37px;width: 290px"/>
                            </div>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-inline">
                            <div class="form-group test " >
                                <label id="from-label"> Civilité</label> <br><br>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="civi" value="Mr" {% if raison['civi'] =='Mr' %} checked  {% endif %}  checked>Monsieur
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="civi" value="Mme" {% if raison['civi'] =='Mme' %} checked  {% endif %}>Madame
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="civi" value="Mlle" {% if raison['civi'] =='Mlle' %} checked  {% endif %} >Mademoiselle

                                    </label>

                                </div>
                            </div>

                            <div class="form-group test" style="margin-left: 63px;">
                                <label id="from-label" >Nom du signataire  </label> <br><input id="sign" name="sign" {% if raison['sign']  %} {{raison['sign']|capitalize }} value="{{ raison['sign'] }}"  {% endif %}  placeholder="Mr Albert " class="form-control " type="text" style=" height: 37px;width: 290px"/>
                            </div><br>
                        </div>
                        <br>
                        <div class="form-inline">
                            <div class="form-group test" style="margin-left: 250px;float: left;">
                                <label id="from-label"> profession libérale</label> <br><br>
                                <div style="margin-left: -63px;">
                                    <label class="radio-inline" >
                                        <input class="profession" type="radio" name="profession" id="profession" value="oui" {% if raison['profession'] =='oui' %} checked  {% endif %} >Oui
                                    </label>
                                    <label class="radio-inline">
                                        <input class="profession" type="radio" name="profession" id="profession" value="non" {% if raison['profession'] =='non' %} checked  {% endif %}  >Non
                                    </label>
                                </div>
                            </div>

                            <div class="form-group test" >

                            </div><br>
                        </div>





                    </form>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">

                </div>

                <div class="col-md-12 col-sm-12 {#col-xs-12#}" align="center">
                    <button type="button" class="btn btn-info bouton-1" data-toggle="collapse" data-target="#demo-1" >
                        Budgétisation &nbsp;   <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <div id="demo-1" class="collapse bouton-2" >
                        {#<a href="{{ path('profession_liberale') }}" role="button" class="btn btn-info prof">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/24/3/1528884261-imageedit-33-8467682361.gif" alt="icone-3">
                            Profession libérale   <span class="glyphicon glyphicon-triangle-right fleche-petit"></span>
                        </a>#}
                        <a href="{{ path('referencement') }}" role="button" class="btn btn-info ref">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-3.png" alt="icone-3">
                            Référencement   <span class="glyphicon glyphicon-triangle-right fleche-petit"></span>
                        </a>
                        <a href="{{ path('budget_gestion_contenu') }}" role="button" class="btn btn-info">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icona-2.png" alt="icone-3">
                            Gestion de Contenu   <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                        <a href="{{ path('budget_affichage') }}" role="button" class="btn btn-info">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-1.png" alt="icone-3">
                            Affichage   <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                        {# <a href="{{ path('profession_liberale') }}" role="button" class="btn btn-info">
                             <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-1.png" alt="icone-3">
                             Profession libérale  <span class="glyphicon glyphicon-triangle-right"></span>
                         </a>#}
                        <br>
                        {# <a href="http://www.telecontact.ma/" role="button" class="btn btn-info" id="bouton-3">
                             Budget estimé
                         </a>#}
                    </div>
                </div>



            </div>
        </div>
    </section>

   {# <form  align="center">
        <div class="form-inline">
            <div class="form-group test" >
                <label id="from-label">Raison sociale</label> <br> <input  placeholder="raison sociale" name="rs" {% if raison['rs']  %} {{raison['rs']|title }} value="{{ raison['rs']|title }}" {% endif %} id="raison" class="form-control " type="text" style=" height: 37px;width: 290px"/>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group test" >
                <label id="from-label" >Code Firme </label> <br><input id="firme"  placeholder="code firme" name="cfirme" {% if raison['cfirme']  %} {{raison['cfirme']|capitalize }} value="{{ raison['cfirme'] }}" {% endif %}class="form-control " type="text" style=" height: 37px;width: 290px"/>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-inline">
            <div class="form-group test" >
                <label id="from-label"> Civilité</label> <br><br>
                <div>
                    <label class="radio-inline">
                        <input type="radio" name="civi" value="Mr" {% if raison['civi'] =='Mr' %} checked  {% endif %}  checked>Monsieur
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="civi" value="Mme" {% if raison['civi'] =='Mme' %} checked  {% endif %}>Madame
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="civi" value="Mlle" {% if raison['civi'] =='Mlle' %} checked  {% endif %} >Mademoiselle

                    </label>

                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-group test" >
                <label id="from-label" >Nom du signataire  </label> <br><input id="sign" name="sign" {% if raison['sign']  %} {{raison['sign']|title }} value="{{ raison['sign']|title }}"  {% endif %}  placeholder="Mr Albert " class="form-control " type="text" style=" height: 37px;width: 290px"/>
            </div><br>

            #}{#<div class="form-group" >
                <button type="button" id="kap" class="btn btn-info" #}{##}{#disabled="disabled"#}{##}{# style=" color: #000;background-color: #ffdb2e;border-color: #ffdb2e;margin-top: 57px;margin-left: -32px;;position: absolute;">
                    <span class="glyphicon glyphicon-triangle-right"></span>
                </button>
            </div>#}{#
            <div class="form-group test" style="margin-left: -475px; padding: 19px 154px 0px;" >
                <label id="from-label"> profession libérale</label> <br><br>
                <div>
                    <label class="radio-inline" style="margin-left: -59px;">
                        <input  type="radio" name="profession" id="profession" value="non" {% if raison['profession'] =='non' %} checked  {% endif %} >Non
                    </label>
                    <label class="radio-inline"style="margin-left: -110px;">
                        <input type="radio" name="profession" id="profession" value="oui" {% if raison['profession'] =='oui' %} checked  {% endif %}  >Oui
                    </label>
                </div>
            </div>

        </div>


        #}{# <br />
         <div class="form-group test" >
             Civilité :<br />

             <label class="radio-inline">
                 <input type="radio" name="civi" value="Mme">Madame
             </label>
             <label class="radio-inline">
                 <input type="radio" name="civi" value="Mlle">Mademoiselle
             </label>
             <label class="radio-inline">
                 <input type="radio" name="civi" value="Mr">Monsieur
             </label>

         </div>

         <div class="form-group test" >

             <label  style="font-size: 18px">Nom du signataire  </label><br><input id="sign"  placeholder="Mr Albert " class="form-control " type="text" style=" height: 37px"/>

         </div>#}{#


        &nbsp;&nbsp;&nbsp;
    </form>


    <section  id="fond-8" align=center>

        <div class="container" id="content-8">

            <div class="row">

                <div class="col-md-12 col-sm-12 #}{#col-xs-12#}{#">
                    <button type="button" class="btn btn-info bouton-1" data-toggle="collapse" data-target="#demo-1" >
                        Budgétisation &nbsp;   <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <div id="demo-1" class="collapse bouton-2" #}{#style="width: 1506px;margin-left: -200px;"#}{#>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <a href="{{ path('referencement') }}" role="button" class="btn btn-info">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-3.png" alt="icone-3">
                            Référencement   <span class="glyphicon glyphicon-triangle-right fleche-petit"></span>
                        </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <a href="{{ path('budget_gestion_contenu') }}" role="button" class="btn btn-info">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icona-2.png" alt="icone-3">
                            Gestion de Contenu   <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <a href="{{ path('budget_affichage') }}" role="button" class="btn btn-info">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-1.png" alt="icone-3">
                            Affichage   <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                        </div>
                        #}{# <a href="{{ path('profession_liberale') }}" role="button" class="btn btn-info">
                             <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-1.png" alt="icone-3">
                             Profession libérale  <span class="glyphicon glyphicon-triangle-right"></span>
                         </a>#}{#
                        <br>
                        #}{# <a href="http://www.telecontact.ma/" role="button" class="btn btn-info" id="bouton-3">
                             Budget estimé
                         </a>#}{#
                    </div>
                </div>

            </div>


            <div class="row" style="display: none">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-info bouton-1" data-toggle="collapse" data-target="#demo-2" disabled="disabled">
                        Détails d'insertion&nbsp;   <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <div id="demo-2" class="collapse bouton-2">
                        <a href="{{ path('referencementdevis') }}" role="button" class="btn btn-info">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-3.png" alt="icone-3">
                            Référencement   <span class="glyphicon glyphicon-triangle-right fleche-petit"></span>
                        </a>

                        <a href="{{ path('devis_gestion_contenu') }}" role="button" class="btn btn-info">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icona-2.png" alt="icone-3">
                            Gestion de Contenu   <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>

                        <a href="{{ path('devis_affichage') }}" role="button" class="btn btn-info">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-1.png" alt="icone-3">
                            Affichage   <span class="glyphicon glyphicon-triangle-right"></span>
                        </a> <a href="{{ path('devis_affichage') }}" role="button" class="btn btn-info">
                            <img class="icone" src="https://image.noelshack.com/fichiers/2018/08/5/1519379743-icone-1.png" alt="icone-3">
                            Affichage   <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                        <br>
                        #}{# <a href="" role="button" class="btn btn-info" id="bouton-3">
                             Devis Global
                         </a>#}{#
                    </div>
                </div>

            </div>



        </div>

    </section>#}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script>

    $(document).ready(function() {

        $(window,'input').on('keyup change load',function() {
            $('.bouton-1').prop('disabled',true);
            var rs=  $("#raison").val();
            var firme=  $("#firme").val();
            var sign=  $("#sign").val();
            if ( firme.length==0 && rs.length==0 && sign.length==0  ) {
                $('.bouton-1').attr('disabled', 'disabled');
            } else
            if (rs.length >0 && firme.length >0 && sign.length >0 ){
                $('.bouton-1').removeAttr('disabled',false);
            }
        });

        $('input').on('keyup keydown click ', function () {
            var str = $('input[name=sign]').val();
            var rs=  $("#raison").val();
            str = str.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                return letter.toUpperCase();
            });
            rs = rs.toLowerCase().replace(/\b[a-z]/g, function (letter1) {
                return letter1.toUpperCase();
            });

            $('.loaders').css('display','');
            var rs=  rs;
            var firme=  $("#firme").val();
            var sign=  str;
            var civi = $('input[name=civi]:checked').val();
            var profession = $('input[name=profession]:checked').val();
            var data_send = {'rs': rs,'cfirme':firme,'sign': sign,'civi':civi,'profession':profession};
            $.ajax({
                url: '{{ path('referencement_commande_devis_rs') }}',
                type: 'POST',
                data: data_send,
                statusCode: {
                    //traitement en cas de succès
                    200: function (response) {
                        var successMessage = response;
                        console.log(successMessage);
                        /*  $('#prestation').children("option").remove();*/
                        //on vide les champs formulaires ou on le supprime ou ...
                        //on retire le loader...

                        $('.loaders').css('display','none');

//                    window.location.href = "http://localhost/ecommerce/web/app_dev.php/devis_affichage";
                    },
                    //traitement en cas d'erreur (on peut aussi traiter le cas erreur 500...)
                    412: function (response) {
                        var errorsForm = response.responseJSON.formErrors;
                        //on affiche les erreurs...
                        alert('error');

                    }
                }
            });


        });
    });


</script>