<!DOCTYPE html>
<html lang="en">
<head>
    <title>E-contact | Vidéo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/video.css') }}" />
</head>

<body>


<section  id="fond-4">

    <div align="center" class="container">

        <div class="row">
            <div class="col-md-12 col-ms-12 col-xs-12">
                <div align="center">
                    <img src="{{ asset('img/lien/video-tlc.jpg') }}" alt="image" class="responsive" style="margin:20px;">
                </div>

                <form class="form-inline">

                    <div class="">
                        <div class="form-group ">
                            <a href="https://www.youtube.com/watch?v=0aCpFBy5oFg&feature=youtu.be" target="_blank" class="btn demo" type="button">Vidéo graphique</a>
                        </div>
                        <div class="form-group">
                            <a href="https://www.youtube.com/watch?v=SrikeKiTjSQ&feature=youtu.be" target="_blank" class="btn demo" type="button">Vidéo reportage</a>
                        </div>
                        <div class="form-group">
                            <a href="https://www.youtube.com/watch?v=KfIFcoz86x0&feature=youtu.be" target="_blank" class="btn demo" type="button">Vidéo interview</a>
                        </div>
                        <div class="form-group">
                            <a href="https://www.youtube.com/watch?time_continue=1&v=Xd84YbZmlvg" target="_blank" class="btn demo" type="button">Vidéo motion design</a>
                        </div>
                    </div>

                    <br>
                    <button type="button" class="btn show-product" data-toggle="collapse" data-target="#demo-9">
                        + du détails sur le produit &nbsp;   <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <div id="demo-9" class="collapse" align=center>

                        <div class="">
                            <div class="form-group ">
                                <button type="button" class="btn demo" data-toggle="collapse" data-target="#demo-10">
                                    Vidéo graphique &nbsp;   <span class="glyphicon glyphicon-triangle-bottom"></span>
                                </button>
                                <div id="demo-10" class="collapse">
                                    <img class="image" src="{{ asset('img/lien/video-graphique.png') }}" alt="image">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn demo" data-toggle="collapse" data-target="#demo-11">
                                    Vidéo reportage &nbsp;   <span class="glyphicon glyphicon-triangle-bottom"></span>
                                </button>
                                <div id="demo-11" class="collapse">
                                    <img class="image" src="{{ asset('img/lien/video-production.png') }}" alt="image">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn demo" data-toggle="collapse" data-target="#demo-12">
                                    Vidéo interview &nbsp;   <span class="glyphicon glyphicon-triangle-bottom"></span>
                                </button>
                                <div id="demo-12" class="collapse">
                                    <img class="image" src="{{ asset('img/lien/film-interview.png') }}" alt="image">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn demo" data-toggle="collapse" data-target="#demo-13">
                                    Vidéo motion design &nbsp;   <span class="glyphicon glyphicon-triangle-bottom"></span>
                                </button>
                                <div id="demo-13" class="collapse">
                                    <img class="image" src="https://image.noelshack.com/fichiers/2018/15/5/1523634409-xxx.jpg" alt="image">
                                </div>
                            </div>
                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

</section>



</body>
</html>
